
<div class="container mgntop">
    <h2>{{ currentCustomer?.firstName}} {{ currentCustomer?.lastName}}</h2>         
    <table class="table table-hover">
        <tbody>
            <li>City: {{ currentCustomer?.address?.city}}</li>
                <li>Street: {{ currentCustomer?.address?.street}}</li>
                    <li>Home Number: {{ currentCustomer?.address?.homeNumber}}</li>
                        <li>Postal Code: {{ currentCustomer?.address?.postalCode}}</li>
            <ol *ngFor="let contract of currentCustomer?.contracts">
                <tr>
                    <li>Contract number: {{contract.contractNumber}}</li>
                        <li>Contract type:  {{getContractType(contract.contractType)}}</li>
                    <ol *ngFor="let package of contract?.packages">
                        <tr>
                            <li>Package type: {{getPackgeType(package.packageType)}}</li>
                            <li>Package name: {{package.packageName}}</li>
                            <li>Package size: {{package.size}}</li>
                            <li>Package utilzation: {{package.utilzation}}</li>
                        </tr>
                      </ol>
                </tr>
              </ol>
        </tbody>
    </table>
</div>
